<!DOCTYPE html>
<html>
<head>
<title>Cool Event Calendar Widget Flat Responsive Widget Template :: w3layouts</title>
<!--Custom Theme files-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Cool Event Calendar Widget Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
<link href="Admin/css/style.css" rel="stylesheet" type="text/css" media="all" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Orbitron:500' rel='stylesheet' type='text/css'>
<!--//web-fonts-->
<!--Calender-->
<script src="Admin/js/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" href="Admin/css/clndr.css" type="text/css" />
<script src="Admin/js/underscore-min.js"></script>
<script src= "Admin/js/moment-2.2.1.js"></script>
<script src="Admin/js/clndr.js"></script>
<script src="Admin/js/site.js"></script>
<!-- end calender -->
<!-- digital clock starts here -->
<link rel="stylesheet" href="Admin/css/flipclock.css">
<script src="Admin/js/flipclock.js"></script>	
<!-- digital clock ends here -->
<style>
body {
	  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPdNimmTX-7D_dBVPqvwJnqE7kJTxa4gPh8hTOPjXb3VBMvp3k);
      background-repeat:repeat;
	  font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="success.jsp">DashBoard</a>
  <a href="Jasper.jsp">Reports</a>
</div>
<span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>

<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>

	<div class="content">
	<div class="content">
	<script>
var app = angular.module("myShoppingList", []); 
app.controller("myCtrl", function($scope) {
    $scope.products = ["Take Mediciens", "Check Apointments", "Clear Lpg Loot"];
    $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}
        if ($scope.products.indexOf($scope.addMe) == -1) {
            $scope.products.push($scope.addMe);
        } else {
            $scope.errortext = "The Task is Already present in the list.";
        }
    }
    $scope.removeItem = function (x) {
        $scope.errortext = "";    
        $scope.products.splice(x, 1);
    }
});
</script>

<div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:400px;">
  <header class="w3-container w3-light-grey w3-padding-16">
    <h3>My Today's TODO List</h3>
  </header>
  <ul class="w3-ul">
    <li ng-repeat="x in products" class="w3-padding-16">{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">×</span></li>
  </ul>
  <div class="w3-container w3-light-grey w3-padding-16">
    <div class="w3-row w3-margin-top">
      <div class="w3-col s10">
        <input placeholder="Add Tasks here" ng-model="addMe" class="w3-input w3-border w3-padding">
      </div>
      <div class="w3-col s2">
        <button ng-click="addItem()" class="w3-btn w3-padding w3-green">Add</button>
      </div>
    </div>
    <p class="w3-text-red">{{errortext}}</p>
  </div>
</div>
	
	</div>	
<br>
	<div class="content2">		
		<div class="calnder">
			<div class="column_right_grid calender">
				<div class="cal1">
					<div class="clndr">
						<div class="clndr-controls">
							<div class="clndr-control-button">
								<p class="clndr-previous-button">previous</p>
							</div>
							<div class="month">SEPTEMBER 2015</div>
							<div class="clndr-control-button rightalign">
								<p class="clndr-next-button">next</p>
							</div>
						</div>
							<table class="clndr-table">	
								<thead>
									<tr class="header-days">
										<td class="header-day">SUN</td>
										<td class="header-day">MON</td>	
										<td class="header-day">TUE</td>
										<td class="header-day">WED</td>
										<td class="header-day">THU</td>
										<td class="header-day">FRI</td>
										<td class="header-day">SAT</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="day past adjacent-month last-month calender-day-2015-04-26"><div class="day-contents">26</div></td>
										<td class="day past adjacent-month last-month calender-day-2015-04-26"><div class="day-contents">26</div></td>
										<td class="day past adjacent-month last-month calender-day-2015-04-26"><div class="day-contents">26</div></td>
										<td class="day past adjacent-month last-month calender-day-2015-04-26"><div class="day-contents">26</div></td>
										<td class="day past adjacent-month last-month calender-day-2015-04-26"><div class="day-contents">26</div></td>
										<td class="day past calender-day-2015-05-01"><div class="day-contents">1</div></td>
										<td class="day past calender-day-2015-05-02"><div class="day-contents">2</div></td>
									</tr>
									<tr>
										<td class="day past calender-day-2015-05-03"><div class="day-contents">3</div></td>
										<td class="day past calender-day-2015-05-04"><div class="day-contents">4</div></td>
										<td class="day past calender-day-2015-05-05"><div class="day-contents">5</div></td>
										<td class="day past calender-day-2015-05-06"><div class="day-contents">6</div></td>
										<td class="day past calender-day-2015-05-07"><div class="day-contents">7</div></td>
										<td class="day past calender-day-2015-05-08"><div class="day-contents">8</div></td>
										<td class="day past calender-day-2015-05-09"><div class="day-contents">9</div></td>
									</tr>
									<tr>
										<td class="day past event calender-day-2015-05-10"><div class="day-contents">10</div></td>
										<td class="day past event calender-day-2015-05-11"><div class="day-contents">11</div></td>
										<td class="day past event calender-day-2015-05-12"><div class="day-contents">12</div></td>
										<td class="day past event calender-day-2015-05-13"><div class="day-contents">13</div></td>
										<td class="day today event calender-day-2015-05-14"><div class="day-contents">14</div></td>
										<td class="day calender-day-2015-05-15"><div class="day-contents">15</div></td>
										<td class="day calender-day-2015-05-16"><div class="day-contents">16</div></td>
									</tr>
									<tr>
										<td class="day calender-day-2015-05-17"><div class="day-contents">17</div></td>
										<td class="day calender-day-2015-05-18"><div class="day-contents">18</div></td>
										<td class="day calender-day-2015-05-19"><div class="day-contents">19</div></td>
										<td class="day calender-day-2015-05-20"><div class="day-contents">20</div></td>
										<td class="day event calender-day-2015-05-21"><div class="day-contents">21</div></td>
										<td class="day event calender-day-2015-05-22"><div class="day-contents">22</div></td>
										<td class="day event calender-day-2015-05-23"><div class="day-contents">23</div></td>
									</tr>
									<tr>
										<td class="day calender-day-2015-05-24"><div class="day-contents">24</div></td>
										<td class="day calender-day-2015-05-25"><div class="day-contents">25</div></td>
										<td class="day calender-day-2015-05-26"><div class="day-contents">26</div></td>
										<td class="day calender-day-2015-05-27"><div class="day-contents">27</div></td>
										<td class="day calender-day-2015-05-28"><div class="day-contents">28</div></td>
										<td class="day calender-day-2015-05-29"><div class="day-contents">29</div></td>
										<td class="day calender-day-2015-05-30"><div class="day-contents">30</div></td>
									</tr>
									<tr>
										<td class="day calender-day-2015-05-31"><div class="day-contents">31</div></td>
										<td class="day adjacent-month next-month calender-day-2015-06-01"><div class="day-contents">1</div></td>
										<td class="day adjacent-month next-month calender-day-2015-06-02"><div class="day-contents">2</div></td>
										<td class="day adjacent-month next-month calender-day-2015-06-03"><div class="day-contents">3</div></td>
										<td class="day adjacent-month next-month calender-day-2015-06-04"><div class="day-contents">4</div></td>
										<td class="day adjacent-month next-month calender-day-2015-06-05"><div class="day-contents">5</div></td>
										<td class="day adjacent-month next-month calender-day-2015-06-06"><div class="day-contents">6</div></td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content3">
		<div class="header3">
			<h2>Digital Clock</h2>
		</div>
		<div class="digital-clock">
			<!-- digital clock starts here -->
			<div class="clock" style="margin:2em;"></div>
				<script type="text/javascript">
					var clock;
			
					$(document).ready(function() {
						clock = $('.clock').FlipClock({
							clockFace: 'TwelveHourClock'
						});
					});
				</script>
			<!-- digital clock ends here -->	
		</div>
	</div>
	<div class="clear"></div>	
</div>	
	<div class="footer">
		<p>Copyright © Cool Event Calendar. All rights reserved | Design by <a href="https://justas-ashutosh.github.io" target="_blank">AKM Corp</a></p>
	</div>
</body>
</html>